
<!--<h1>{{title}}</h1>
<h1>{{num}}</h1><h1>
  <input type="text" value="{{num}}"></h1>
  <input type="text" [(ngModel)]="num"/>-->




  <html>
  <head>
    <title>
      Angular
    </title>
    <style>
      #dv{
        background-color:#d50000;
        padding: 1%;
        padding-left: 2%;
      }
      #dv a{
        color: white;
        text-decoration: none;
        padding: 1%;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div id="dv">
      <a routerLink="home/">Home</a>
      <a routerLink="about/">About</a>
      <a routerLink="registration/">registration</a>
      <a routerLink="contactus/">contactus</a>
      <a routerLink="login/">Login</a>
    </div>
    <router-outlet>

    </router-outlet>

  </body>
</html>